<nav>
    <div class="nav-wrapper">
        <div class="container">
            <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
            <a href="#" class="brand-logo">BootCampConnect</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a id="profileLink">Profile</a></li>
                <li><a id="logoutLink">Log Out</a></li>
            </ul>
        </div>
    </div>
</nav>
{{!-- ADD HREF OR LINK HERE FOR THIS TO WORK --}}
<ul class="sidenav" id="mobile-demo">
    <li><a href="/profile" id="profileLink">Profile</a>
    </li>
    <li><a id="logoutLink">Log Out</a></li>
</ul>
<div class="container">
    <div class="row" id="categoryRow">
        <div class="col s12">
            <button class="waves-effect waves-light btn catBtn" id="generalBtn">General</button>
            <button class="waves-effect waves-light btn catBtn" id="jobsBtn">Jobs</button>
            <button class="waves-effect waves-light btn catBtn" id="collaborateBtn">Collaborate</button>
            <button class="waves-effect waves-light btn catBtn right" id="newPost"><a href="/post" id="newPost"
                    class="noBlue">New Post</a></button>
        </div>
    </div>
    {{!-- </br> --}}
    {{#each posts}}
    <div class="row">
        <div class="col s10 offset-s1">
            <h4>{{firstName}} {{lastName}}</h4>
            <div class="postContainer">
                <div class="row">
                    <div class="col s12 m6">
                        <div class="card">
                            <div class="card-content">
                                <span>
                                    <h6>{{title}} </h6>
                                    <p> {{body}} </p>

                                </span>
                                <p class="right align-right" id="timeStamp">
                                    <small> Posted: {{createdAt}}</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each }}
</div>

<script src="/js/dashboard.js" type="text/javascript"></script>
<script>
    $("#profileLink").on("click", () => {
        window.location.replace("/profile/" + sessionStorage.getItem("currentUser"))
    })
</script>