<nav>
    <div class="nav-wrapper">
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <div class="container">
            <a href="#" class="brand-logo">BootCampConnect</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a id="dashboardLink" href="/dashboard/1">Back to Dashboard</a></li>
                <li><a href="/logout" id="logoutLink">Log Out</a></li>
            </ul>
        </div>
    </div>
</nav>
<ul class="sidenav" id="mobile-demo">
    <li><a id="dashboardLink" href="/dashboard/1">Back to Dashboard</a></li>
    <li><a id="logoutLink">Log Out</a></li>
</ul>

<div class="container">
    <div class="row">
        <div class="col s10 offset-s1">
            <div class="card">
                <div class="row" id="photoRow">
                    <div class="col s4">
                        <div class="card-image">
                            <img
                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/35/Neckertal_20150527-6384.jpg/1200px-Neckertal_20150527-6384.jpg">

                            <span class="card-title" id="userName">{{userInfo.firstName}}
                                {{userInfo.lastName}}</span>
                        </div>
                        <div class="row">
                            <div class="left-align">
                                <div class="card-content">
                                    <ul id="userInfo">
                                        <li id="location">Location: {{userInfo.location}} </li>
                                        <li id="email">Email: {{userInfo.email}}</li>
                                        <li id="github">GitHub: {{userInfo.github}} </li>
                                        <li id="linkedIn">LinkedIn: {{userInfo.linkedIn}} </li>
                                        <li id="bio">Bio:</li>
                                        <p id="bioSpace">{{userInfo.bio}}</p>
                                    </ul>
                                    <button class="waves-effect waves-light btn noBlue updateProfileBtn"
                                        id="editProfileBtn">Edit Profile</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s8">
                        <h5>Recent Posts:</h5>
                        <div id="postsSpace">
                            <div class="row">
                                <div class="col s12">
                                    <div class="postContainer">
                                        <div class="row">
                                            <div class="col s12">
                                                {{#each Posts}}
                                                <div class="card">
                                                    <div class="card-content">
                                                        <button id="delete"
                                                            class="waves-effect waves-light btn delBtn right"
                                                            value="{{this.id}}" />delete</button>
                                                        <span>
                                                            {{!-- Cant seem to get the name in within the each block --}}
                                                            {{!-- <h5>{{userInfo.firstName}} HELLO {{userInfo.lastName}}</h5> --}}
                                                            <h5>{{this.title}} </h5>
                                                            <p> {{this.body}} </p>
                                                        </span>
                                                        <p class="right align-right" id="timeStamp">
                                                            <small> Posted: {{this.createdAt}}</small></p>
                                                    </div>
                                                </div>
                                                {{/each}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    const editProfileBtn = $("#editProfileBtn")
    currentUser = parseInt(sessionStorage.getItem("currentUser"))
    let pathArr = window.location.pathname.split("/")
    profileId = parseInt(pathArr[pathArr.length - 1])
    console.log(currentUser)
    console.log(profileId)
    if (profileId === currentUser) {
        console.log("Boolean Passed")
        editProfileBtn.attr("style", "display: initial")
    }

    editProfileBtn.on("click", () => {
        window.location.replace("/edit_profile/" + profileId)
    })

    $(".delBtn").on("click", function () {
        console.log($(this).val())
        const postIdVal = $(this).val()
        $.ajax({
            url: "/api/profile/delete",
            method: 'DELETE',
            data: {
                postId: postIdVal
            }
        }).success(function () {
            console.log("Deleted")
            window.location.reload(
        })
    })
</script>