<nav>
    <div class="nav-wrapper">
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <div class="container">
            <a href="#" class="brand-logo">BootCampConnect</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">

                <li><a id="dashboardLink" href="./dashboard.handlebars">Back to Dashboard</a></li>


            </ul>
        </div>
    </div>
</nav>
<ul class="sidenav" id="mobile-demo">

    <li><a href="/profile" id="dashboardLink" href="/dashboard">Back to Dashboard</a></li>

</ul>

<div class="container">
    <div class="row">
        <div class="col s10 offset-s1">
            <div class="card">
                <div class="row" id="photoRow">
                    <div class="col s4">
                        <div class="card-image">
                            <img
                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/35/Neckertal_20150527-6384.jpg/1200px-Neckertal_20150527-6384.jpg">
                            <span class="card-title">User Name</span>
                        </div>
                    </div>
                    <div class="col s6">
                        <h5>Recent Posts:</h5>
                        <div id="postsSpace">Handlebars -- Load Posts here</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s4 left-align">
                        <div class="card-content">
                            <ul id="userInfo">
                                {{log profileUser}}
                                {{log "I'm here"}}

                                <li id="location">Location:{{profileUser.location}}  </li>
                                <li id="email">Email: {{profileUser.email}}</li>
                                <li id="github">GitHub:{{profileUser.GitHub}} </li>
                                <li id="linkedIn">LinkedIn:{{profileUser.LinkedIn}} </li>
                                <li></li>
                                <li id="bio">Bio:</li>
                                <p id="bioSpace">Here is where the bio information will go!</p>
                            </ul>
                            <button class="waves-effect waves-light btn noBlue updateProfileBtn" id="editProfileBtn">Edit Profile</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const editProfileBtn = $("#editProfileBtn")
    currentUser=parseInt(sessionStorage.getItem("currentUser"))
    let pathArr = window.location.pathname.split("/")
    profileId = parseInt(pathArr[pathArr.length-1])
    console.log(currentUser)
    console.log(profileId)
    if(!profileId===currentUser){
        editProfileBtn.style.display = "none"
    }
</script>